  <div id="content">
    <div id="error" ng-show='vm.error.existe' class="alert alert-warning" role="alert"><p>{{vm.error.msj}}</p></div>
    <div id="alerta" ng-show='vm.alerta.existe' class="alert alert-danger" role="alert"><p>{{vm.alerta.msj}}</p></div>
    <form class="form" name='formUser' ng-submit='formUser.$valid && vm.validaPass() && vm.gestionUser()' novalidate>
      <div class="form-group">
        <label class="control-label" for="name">Nombres</label>  
        <input id="name" name="name" type="text" placeholder="Digite nombres" class="form-control input-md" required ng-model='vm.user.name'>
      </div>
      <div class="form-group">
        <label class="control-label" for="lastname">Apellidos</label>  
        <input id="lastname" name="lastname" type="text" placeholder="Digite los apellidos" class="form-control input-md" ng-model='vm.user.lastname' required>
      </div>
      <div class="form-group">
        <label class="control-label" for="identificacion">No. Identificacion</label>  
        <input id="identificacion" name="identificacion" type="number" placeholder="Introduzca su numero de identificación" class="form-control input-md" ng-model='vm.user.identificacion' required>
      </div>
      <div class="form-group">
        <label class="control-label" for="birday">Fecha de nacimiento</label>  
        <input id="birday" name="birday" type="date" placeholder="dd/mm/aaaa" class="form-control input-md" ng-model='vm.user.birday' required>
      </div>
      <div class="form-group">
        <label class="control-label" for="tipo_sangre">Tipo de sangre</label>  
        <input id="tipo_sangre" name="tipo_sangre" type="text" placeholder="Por ejemplo: O+" class="form-control input-md" ng-model='vm.user.tipo_sangre' required>    
      </div>
      <div class="form-group">
        <label class="control-label" for="estado">Habilitado (1) o inhabilitado (0)</label>  
        <input id="estado" name="estado" type="number" min="0" max="1" class="form-control input-md" ng-model='vm.user.estado' required>    
      </div>
      <div class="form-group">
        <label class="control-label" for="email">Correo electrónico</label>  
        <input id="email" name="email" type="email" placeholder="correo@dominio.com" class="form-control input-md" ng-model='vm.user.email' required>    
      </div>
      <div class="form-group">
        <label class="control-label" for="telefono">Teléfono</label>  
        <input id="telefono" name="telefono" type="text" placeholder="xx x xxxxxxx" class="form-control input-md" ng-model='vm.user.telefono' required>   
      </div>
      <div class="form-group">
        <label class="control-label" for="direccion">Dirección de residencia</label>  
        <input id="direccion" name="direccion" type="text" placeholder="CLL 19 Z BIS SUR # 20 A BIS ESTE 30" class="form-control input-md" ng-model='vm.user.direccion' required>    
      </div>
      <div class="form-group">
      <label class="control-label" for="tarjeta">Tarjeta</label>  
      <input id="tarjeta" name="tarjeta" type="text" placeholder="Tarjeta de asistencia" class="form-control input-md" ng-model='vm.user.tarjeta' >   
      </div>
      <div class="form-group">
        <label class="control-label" for="tipo_usuario">Tipo de permiso de acceso</label>
        <select id="tipo_usuario" name="tipo_usuario" class="form-control" ng-model='vm.user.tipo_usuario_id' >
          <option ng-repeat='tipo in vm.tipo_usuario.data' value="{{tipo.id}}">{{tipo.nombre}}</option>
        </select>
      </div>
      <div class="form-group">
      <label class="control-label" for="tarjeta">Contraseña</label>  
      <input id="tarjeta" name="tarjeta" type="password" placeholder="Ingrese contraseña" class="form-control input-md" ng-model='vm.user.password' ng-blur='vm.validaPass()'  required>
      </div>
      <div class="form-group">
      <label class="control-label" for="tarjeta">Verificar contraseña</label>  
      <input id="tarjeta" name="tarjeta" type="password" placeholder="Vuelva a colocar contraseña" class="form-control input-md" ng-model='vm.user.repassword' ng-blur='vm.validaPass()' required>
      </div>
      <input type="submit" class="btn btn-primary" value="Guardar">
    </form>
  </div> 