<div  id="generales" class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6 col-lg-offset-2 col-lg-8">
	<div id="header">
		<h2>Opciones generales</h2>
	</div>
	<div id="content">
		<p>Esta sección es de uso restringido. Por favor no modifique los valores. Solo un administrador con conocimiento puede alterar esta sección.</p>
		<p><strong><em><h5>CUIDADO.</h5></em></strong> Modificar esta sección puede generar fallos en el programa. Modificar con prudencia.</p> 
	</div>
	<div id="footer">
		<div class="table-responsive desplazable-grande">
			<table class="table table-stripped">
				<tr>
					<th></th>
					<th>Valor</th>
					<th>Descripción</th>
					<th></th>
				</tr>
			<tr ng-repeat='opcion in vm.opciones.data'>
				<td><strong>{{ opcion.nombre }}</strong></td>
				<td>{{ opcion.valor }}</td>
				<td>{{ opcion.descripcion }}</td>
				<td><button type="button" class="btn btn-primary btn-xs" ng-click='vm.selecPanel($index)'>Ver mas</button></td>
			</tr>
			</table>
		</div>

		<!-- PANELES -->
		<div ng-repeat='opcion in vm.opciones.data' class="panel panel-primary" ng-show='vm.esPanelSelec($index)'>
				<div class="panel-heading">
        			<h4 class="panel-title">Modificación: {{ opcion.nombre | uppercase }}</h4>
      			</div>
      			<div class="panel-body">
      				<p>Puede cambiar los valores de la propiedad en los siguientes campos.</p>
      				<form name="formOptions" ng-submit="formOptions.$valid && vm.actOpcion($index)" novalidate>
      					<div class="form-group">
      						<label for="idvalor" class="control-label">Valor: </label>
      						<input type="text" name="valor" ng-model='opcion.valor' id='idvalor' class="form-control" ng-change='opcion.visible=true' required>
      					</div>
      					<div class="form-group">
      						<label for="iddescripcion" class="control-label">  Descripcion: </label>
      						<input type="text" name="descripcion" ng-model='opcion.descripcion' id='iddescripcion' class="form-control" ng-change='opcion.visible=true' required>
      					</div>
      					<button type='submit' class="btn btn-info" ng-show='opcion.visible'>Modificar</button>
      					<a ng-hide='vm.oculOptionElim($index)' href class="btn btn-danger" ng-click='vm.delOption($index)'>Eliminar</a>
      				</form>
      			</div>
      			<div class="panel-footer">
        			<button type="button" class="btn btn-primary" ng-click='vm.cerrarPanel()'>Cerrar</button>
      			</div>				
		</div>
		<div class="panel panel-info" ng-show='vm.esPanelSelec(-1)'>
				<div class="panel-heading">
        			<h4 class="panel-title">Crear opcion personalizada</h4>
      			</div>
      			<div class="panel-body">
      				<p>Puede cambiar los valores de la propiedad en los siguientes campos.</p>
      				<form name="formNewOptions" ng-submit="formNewOptions.$valid && vm.newOpcion()" novalidate>
      					<div class="form-group">
      						<label for="idvalor" class="control-label">Nombre: </label>
      						<input type="text" name="nombre" ng-model='vm.newopcion.nombre' id='idvalor' class="form-control" ng-change='vm.newopcion.visible=true' required>
      					</div>
      					<div class="form-group">
      						<label for="idvalor" class="control-label">Valor: </label>
      						<input type="text" name="valor" ng-model='vm.newopcion.valor' id='idvalor' class="form-control" ng-change='vm.newopcion.visible=true' required>
      					</div>
      					<div class="form-group">
      						<label for="iddescripcion" class="control-label">Descripcion: </label>
      						<input type="text" name="descripcion" ng-model='vm.newopcion.descripcion' id='iddescripcion' class="form-control" ng-change='vm.newopcion.visible=true' required>
      					</div>
      					<button type='submit' class="btn btn-info" ng-show='vm.newopcion.visible'>Crear</button>
      				</form>
      			</div>			
		</div>

	</div>             
</div>