<div  ng-show="vm.existeStorage()">
<link href="/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/menu.css">
<div class="nav-side-menu">
    <div class="brand">Logo</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
        <div class="menu-list">
            <ul id="menu-content" class="menu-content collapse out">
                <li>
                  <a href="/#/authhome"><i class="fa fa-dashboard fa-lg"></i> Inicio</a>
                </li>

                <li  data-toggle="collapse" data-target="#institucion" class="collapsed">
                  <a href> <i class="fa fa-building-o fa-lg"></i> Generales<span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="institucion">
                	<li><a href="/#/users"> Usuarios</a></li>
                </ul>

                <li data-toggle="collapse" data-target="#application" class="collapsed">
                  <a href><i class="fa fa-rocket fa-lg"></i> Aplicación<span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="application">
                  <li><a href="/#/options"> Opciones</a></li>
                </ul>

                 <li><a href="/#/profile"> <i class="fa fa-user fa-lg"></i> Perfil de <em>{{vm.nombreUser()}}</em></a></li>

                 <li><a href="/#/login"> <i class="fa fa-sign-out fa-lg"></i> Salir</a></li>
            </ul>
     </div>
</div>
</div>